div{
    background-color: rgb(199, 188, 184);
    border: 3px;
    border-radius: 3px;
    padding: 5%;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size:x-large;
}

button{
    width: 7em;
    padding: 2%;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
