<div class="row" id="card">
        <div class="thumbnail">
            <img src="../../../assets/logo-black.png">
            <br><br>
            <div class="mt-5">           
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{width: (this.dataService.score/3)*100+'%'}" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
                <div class="mt-3"> <span class="text1">{{this.dataService.score}} out of 3 correct!</span> </div>
            </div>
        </div>
</div>

