#card {
    text-align: center;
}
.card2 {
    pointer-events: none
}
#timer { 
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    /* border: 3px solid grey; */
    width: 90px;
    height: 45px;
    margin-bottom: 0%;
    margin-left: 4.25em;
    /* margin-right: 80%; */
}
#title {
    border-radius: 3px;
}
h2 {
    margin-top: 0%;
}