<!-- <button (click)='incrementIndex()'>Increment Number</button> -->
<button (click)='pauseTimer()'>Pause</button>

<div class="row" id="card" *ngIf="this.dataService.timeLeft >= 0">
    <div class="col-md-12" [ngClass]="{card2: this.dataService.disable}">
    <h2 class="list-group-item list-group-item-dark" id="timer">{{this.dataService.timeLeft}}</h2>
    <h2 class="list-group-item list-group-item-dark" id="title">{{qData[this.dataService.idx].ques}}</h2>
    <app-options [data]="{content: qData[this.dataService.idx].op1, ans: qData[this.dataService.idx].ans}"></app-options>
    <app-options [data]="{content: qData[this.dataService.idx].op2, ans: qData[this.dataService.idx].ans}"></app-options>
    <app-options [data]="{content: qData[this.dataService.idx].op3, ans: qData[this.dataService.idx].ans}"></app-options>
    <app-options [data]="{content: qData[this.dataService.idx].op4, ans: qData[this.dataService.idx].ans}"></app-options>
</div>
</div>