<div class="row">
    <div class="col-md-12">
        <p>Home</p>
        <h1>{{timeLeft}}</h1>
    </div>
</div>
<!-- <button (click)='incrementIndex()'>Increment Number</button> -->
<button (click)='pauseTimer()'>Pause</button>

<p>{{timeLeft}} Seconds Left....</p>
<h2 *ngIf="timeLeft===0">Time Up!!!</h2>
<div class="row" id="card">
    <div class="col-md-12" [ngClass]="{card2: this.dataService.disable}">
    <h2 class="list-group-item list-group-item-dark" >{{qData[this.dataService.idx].ques}}</h2>
    <app-options [data]="{content: qData[this.dataService.idx].op1, ans: qData[this.dataService.idx].ans}"></app-options>
    <app-options [data]="{content: qData[this.dataService.idx].op2, ans: qData[this.dataService.idx].ans}"></app-options>
    <app-options [data]="{content: qData[this.dataService.idx].op3, ans: qData[this.dataService.idx].ans}"></app-options>
    <app-options [data]="{content: qData[this.dataService.idx].op4, ans: qData[this.dataService.idx].ans}"></app-options>
</div>
</div>