<div class="row">
    <div class="col-xs-12">
      <h3>{{this.edit ? 'Edit' : 'Add'}} Student Data!</h3>
      <label>Student Roll Number</label>
      <input type="text" class="form-control" [(ngModel)]="newRollNo" disabled="{{edit}}">
      <label>Student Name</label>
      <input type="text" class="form-control" [(ngModel)]="newName">
      <form>  
        <label> Select Department : </label>  
        <select  [(ngModel)]="newDepartment" name="sel">  
        <option value = "Chemistry"> Chemistry   
        </option>  
        <option value = "Finance"> Finance   
        </option>  
        <option value = "History"> History  
        </option>  
        <option value = "Physics"> Physics  
        </option>  
        </select>  
      </form>  
      <br>
      <button
        class="btn btn-primary"
        (click)="this.edit ? editData(newRollNo): addData()">{{this.edit ? 'Edit' : 'Add'}}</button>
    </div>
  </div>